﻿@model AjaxExampleApp.Models.Product

@if (Model==null || Model.Code==null)
{
    <h1>Please provide valid product code</h1>
}

else
{
    <h3>Product Details</h3>
    <table class="table table-border table-striped">
        <tr>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Product Price</th>

        </tr>
        <tr>
            <td>@Model.Code</td>
            <td>@Model.Name</td>
            <td>@Model.UnitPrice</td>
            
        </tr>
    </table>
}