﻿@using AjaxExampleApp.Models

@{
    ViewBag.Title = "Index";
}


@using (Ajax.BeginForm("ShowDetails", "Ajax",
    new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "div1",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "waitimage"
    }))
{
    <h2></h2>
        <table>
            <tr>
                
                <td>Product Code</td>
                <td>@Html.TextBox("txtCode",null,new{@class="form-control"})</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-success" value="Show Details"/>
                    <input type="reset" class="btn btn-danger" value="Clear" /><img id="waitimage" src="~/Images/InternetSlowdown_Day.gif" height="50" width="50" style="display: none" /></td>
                
            </tr>
        </table>
        
        
        
        
   

}


<br />

<br />
<div id="div1">
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
